body {
  font-family: "Poppins", sans-serif;

}

.headline {
  font-size: 15vw;
  text-transform: uppercase;
  text-align: center;

  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;

}

.lineParents{
  overflow: hidden;
}
.lineChildren{
  transform: translate(0, 500px);
}

.featured-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.featured-section img {
  clip-path: inset(0% 100% 0% 0%);
  transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);

}

.featured-section img.is-reveal  {
  clip-path: inset(0% 0% 0% 0%);
  transform: scale(0.5);

}

.featured-section h6 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
}

.featured-row-layout,
.featured-column-layout {
  display: grid;
  gap: 10px;
}

.featured-row-layout {
  grid-template-rows: repeat(2, auto);
}

.featured-row-layout img {
  width: 100%;
  object-fit: cover;
}

.featured-section-grow img {

  transition: transform 2s cubic-bezier(0.77, 0, 0.175, 1);

}

.featured-section-grow img.is-reveal  {
  clip-path: inset(0% 0% 0% 0%);
  transform: scale(1.5);

}


